<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="header">
        <a href="/">View Movies</a>
        <a href="/cart">View Cart</a>
        <a href="/statements">View History</a>
    </div>
    @RenderBody()
</body>
</html>
